{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

   <div class="container" style="background-color: whitesmoke; margin-top: 10%;">
	<h1 class="loans-main__title">О Банке | СтатусБанк – надежный финансовый партнер на долгие годы</h1>
	<div class="speach">
		ОАО «СтатусБанк» - один из самых динамично развивающихся банков Республики Беларусь,
        который целенаправленно осваивает современные банковские технологии, обладает устойчивой
        ресурсной базой и способен оперативно решать ваши самые насущные финансовые вопросы.
        Мы благодарим Вас за доверие и надеемся на успешное, плодотворное и взаимовыгодное сотрудничество.
        Мы работаем для того, чтобы ОАО «СтатусБанк» стал для вас надежным, удобным и умным финансовым партнером
        на долгие годы.
    </div>
</div>

    <div class="container"><br></div>

<div class="container" style="background-color: whitesmoke; margin-bottom: 10%">
    <h2>НАША МИССИЯ</h2>
<br>
    <div>
        Удовлетворение потребностей наших клиентов в современных, доступных и качественных банковских услугах,
        содействие успеху в достижении целей и предоставление широкого спектра финансовых инструментов предприятиям
        всех форм собственности на базе клиентоориентированной, высокоэффективной, динамично развивающейся
        бизнес-модели, современных информационных технологий и высоких стандартов обслуживания.
    </div>
<div>
 <br>
</div>
<div>
 <br>
</div> <h2>ИСТОРИЯ БАНКА</h2>
 <br>
<p>
    ОАО «СтатусБанк» (ОАО «Международный резервный банк» – с 25.02.2002 по 20.01.2013, ОАО «Евроторгинвестбанк» – с
    21.01.2013 по 25.05.2017) (г. Минск) создано в 2002 году для обслуживания корпоративных клиентов-резидентов
    свободной экономической зоны «Минск» и нерезидентов Республики Беларусь, - а также частных клиентов-нерезидентов
    Республики Беларусь. За время работы на белорусском рынке Банк приобрел имидж надежного делового партнера, который
    оказывает своим клиентам финансовые услуги на самом высоком уровне, оперативно реагирует на все изменения
    банковского рынка и постоянно совершенствует и расширяет спектр предлагаемых продуктов. В конце 2007 года была
    разработана и принята новая стратегия развития, которая предусматривала поэтапный переход Банка в разряд универсальных.
</p>
<p>
	 Сегодня, продолжая работать в направлении обслуживания юридических лиц и индивидуальных предпринимателей,
    Банк активно развивает розничный бизнес, делая акцент на широкой линейке кредитных продуктов, разнообразных
    инструментах выдачи кредитов, развитии сети отделений и точек продаж.
</p>
<p>
	 Кадровая политика ОАО "СтатусБанк" направлена на формирование команды профессионалов, способных быстро и
    качественно решать стоящие перед банком задачи.
</p>
<p>
	 25 мая 2017 года Банк переименован в ОАО «СтатусБанк».
</p>
</div>
{% endblock %}